<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-app">
      Aplicacion de pokemones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label class="title-welcome">se armaran equipos de 4 pokemon de distintos tipos, y cada vez que recarges la pagina se generaran nuevo equipos</ion-label>
  <ion-content>
    <ion-button class="btn-link" [routerLink]="['/pokemon-list']" routerLinkActive="router-link-active" >ver los equipos de pokemones</ion-button>
  </ion-content>
</ion-content>